*,
::after,
::before {
    box-sizing: border-box
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 0;
}

.todo-item {
    background-color: #EFEFEF;
    padding: 10px;
    margin-bottom: 15px;
    line-height: 1;
}

.todo-item-title {
    font-weight: 500;
}

.todo-item-dedline {
    font-style: italic;
}

.status {
    border-left-width: 5px;
    border-style: solid;
}

.status-done {
    border-color: #92C47C;
}

.status-not-started {
    border-color: #EA9A99;
}

.status-in-progress {
    border-color: #FFE59B;
}

.statuses-list {
    display: flex;

}

.statuses-list .status {
    min-height: 30px;
    padding: 0 15px 0 10px;
    display: flex;
    align-items: center;
}

.button {
    background-color: #4985E8;
    border: 0;
    color: #EFEFEF;
    padding: 10px 24px;
    margin: 4px 0;
}

.button-dark {
    background-color: #666666;
}

.button:hover, .button:active {
    color: #4985E8;
    background-color: #EFEFEF;
    transition: all .5s;
}

.todo-form {
    background-color: #D9D9D9;
    padding: 15px 30px;
}

.todo-form ::placeholder {
    color: #000;
}

.form-item {
    margin-bottom: 15px;
}

.form-item:last-child {
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-buttons {
    display: flex;
    justify-content: right;
}

.form-buttons .button {
    margin-left: 10px;
}

.mb-bottom-30 {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}